<button (click)="ShowAdd()">Add Film</button>
<div>
    <form *ngIf="add" [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
            <label >Title:</label>
            <input type="text" formControlName="title" />
        </p>
        <p>
            <label>Author:</label>
            <input type="text" formControlName="author" />
        </p>
        <p>
        <label>Date:</label>
        <input type="text" formControlName="addedDate" />
        </p>
        <p>
            <label>Category:</label>
            <input type="text" formControlName="category" />
        </p>
        <p>
            <label>Production:</label>
            <input type="text" formControlName="production" />
        </p>
        <p>
            <label>Description:</label>
            <input type="text" formControlName="description" />
        </p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="AgeRestriction()">
            <label class="form-check-label" for="flexCheckDefault">
              Age restriction
            </label>
        </div>
        <div *ngIf="flexCheckDefault == true">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    +12
                </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                +16
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                +18
            </label>
        </div>
        </div>
            <button type="submit">Dodaj</button>
    </form>
</div>
