.list{
    background-color: lightgray;
    width: 500px;
    min-height: 40px;
}
.details{
    min-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.item{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.title{
    margin-top: 10px;
    float: left;
    max-width: 350px;
}
.title-details{
    padding-top: 10px;
}
.thumbnail{
    width: 100px;
    height: 150px;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
.rentBtn{
    margin: 10px;
    float: right;
}
.rentBtn-details{
    margin: 10px;
    float: right;
    margin-top: -18px;
}
.detailsBtn{
    margin: 10px;
    float: right;
}
.detailsBtn-details{
    margin: 10px;
    float: right;
    margin-top: -18px;
}
.description{
    margin-top: 10px;
    margin-right: 10px;
}